/* NAV */
#nav {
  margin-bottom: 0;
}

#nav .btn[disabled]{
  background-color: #80D8FF;
}

#map-mode-toggle-btn {
  padding: 0px 15px;
}

#nav-header-block {
  display: inline-block;
}

#autocomplete-input {
  width: 20em;
}

#navbar-or {
  margin-right: 0;
}

@media (min-width: 768px) and (max-width: 900px) {
    #autocomplete-input {
        width: 10em;
    }
}

@media (max-width: 768px) {
    #navbar-or {
        display: none;
    }
}
